<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cmpe277.weather">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:launchMode="singleTop">
        <activity android:name=".CityListActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>



        <activity android:name=".SettingActivity"
                  android:parentActivityName=".CityListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe277.weather.CityListActivity" />
        </activity>

        <activity android:name=".CitySwipeViewActivity"
                  android:parentActivityName=".CityListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe277.weather.CityListActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCqd2Lqzvf9raparg9v61t6GyxWL_aK3Mg"/>
        <service android:name=".LocalService"/>
    </application>

</manifest>